/* Common CSS With Other Pages Goes Here */

:root {
    /* Colours Here */

    --tbk-grey: #363636;
    --tbk-gold: #a7a453;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body { 
    margin: 0;
    padding: 0;
}

.section-container {
    padding: 0;
    margin: 10vh 5vw;
}

.content-container {
    margin: 0;
    padding: 10vh 5vw;
    display: flex;
    flex-direction: row;
    line-height: 10vh;
    justify-content: space-evenly;
    height: 40vh;

    /* ALIGNS CHILD ELEMENTS */
    * {
        margin-top: auto;
        margin-bottom: auto;
    }

}

.text-container {
    display: flex;
    flex-direction: column;

    line-height: 8vh;

    /* ALIGNS CHILD ELEMENTS */
    * {
        margin-left: auto;
        margin-right: auto; 
    }
}

.text-title {
    font-size: 10vh;
    font-weight: bold;
    letter-spacing: 0.2vw;
}

.text-title-minor {
    font-size: 3vh;

    /* TEMP COLOUR */
    color: rgb(50, 50, 50); 
}


x
/* POSSIBLY TEMP STYLING */

.icon-back {
    height: auto;
}

.icon-front {
    height: 20vh;
}