/* Common CSS With Other Pages Goes Here */

:root {
    /* Colours Here */
    --tbk-grey: #363636;
    --tbk-gold: #ebcc73;
    --tbk-light: #f9f9f9; 
    /* OTHER: #fffff2 */


    --hex-cluster-dim: 50vh;
}

* {
    margin: 0;
    padding: 0;
}

body { 
    margin: 0;
    padding: 0;

    background-color: var(--tbk-light);
    font-family: sans-serif;
}

/* SOCIAL */

.body-container { 
    width: 100%;
}

.social-container {
    padding-top: 5vh;
    margin: 10vh 5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    color: var(--tbk-grey);
}

.social-content {
    /* margin: 0 5vw; */
    max-width: calc(100vw - (var(--hex-cluster-dim) + 20vw));
}

.social-title {
    font-size: 8vh;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}

.social-info {
    display: flex;
    flex-direction: column;

    margin: 5vh 0;
    font-size: 3vh;
    max-height: 50vh;
}

.redirect-arrow {
    margin: 3vh 0;
    font-size: 3vh;
    color: gray;
}

.redirect-arrow:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hex-cluster {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    width: var(--hex-cluster-dim);
    height: var(--hex-cluster-dim);
}

.hex-cluster-sub {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.hex-outer {
    margin-top: auto;
    margin-bottom: auto;

    width: 100%;
    height: 50%;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background: var(--tbk-grey);
}

.hex-cluster-top {
    transform: translateY(3%);
}

.hex-cluster-bottom {
    transform: translateY(-3%);
}

.hex-cluster-right {
    transform: translateX(-21%);
}

.hex-inner {
    margin-top: 3%;
    margin-left: 3%;

    height: 94%;
    width: 94%;

    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background-image: linear-gradient(to bottom right, var(--tbk-gold),  var(--tbk-gold), #a0954e);

    display: flex;

    img {
        margin: auto;
        height: 40%;
    }
}


/* FOOTER */

.footer-container {
    background-color: var(--tbk-grey);
    height: 40vh;
    color: var(--tbk-gold);
}

.footer-top {
    display: flex;
    padding-left: 5vw;

    height: 5vh;
    background-color: var(--tbk-gold);
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 5vh;
    max-width: 14vw;
    margin-top: 1vh;

    img {
        height: 4vh;
        width: 4vh;
    }
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin: 3vh 5vw;
}

.footer-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50vw;
    height: 20vh;
    line-height: 5vh;
    
    span {
        height: auto;
    }
}

.footer-address {
    display: flex;
    flex-direction: column;
    height: 20vh;
    line-height: 5vh;
    
    margin-left: auto;
    text-align: right;
}

.footer-contact {
    display: flex;
    flex-direction: row;

    * {
        margin: auto 0;
    }
}


/* ICONS */

.icon {
    cursor: pointer;
}

.icon-contact {
    height: 2.5vh;
    margin-right: 1vw;
}

.icon-pin {
    height: 6vh;
}

/* LOCATIONS */

.locations-container {
    padding-top: 5vh;
    margin: 10vh 5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    color: var(--tbk-grey);
}


/* ABOUT */

.about-container {
    padding-top: 5vh;
    margin: 10vh 5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    color: var(--tbk-grey);
}

.about-content {
    max-width: 100%;
}

.about-title {
    font-size: 8vh;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}

.about-info {
    display: flex;
    flex-direction: column;

    margin: 5vh 0;
    font-size: 3vh;
    max-height: 50vh;
}


/* TEMP */

.cont {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.top-content {
    margin: 20vh 20vw;
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    color: var(--tbk-grey);
    justify-content: space-around;

    text-align: center;
}


.icon-container {
    margin: auto;
}

.banner {
    display: flex;
    flex-direction: row;

    margin: 2.5vh 5vw;
    height: 14vh;

    div {
        background-color: var(--tbk-grey);
        width: 10vh;
        height: 10vh;
        text-align: center;
        margin: 2vh 2vh;
    }

    * {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 8vh;
    }
}

.text-title {
    font-size: 10vh;
    font-weight: bold;
    letter-spacing: 0.2vw;
}

.text-title-minor {
    font-size: 3vh;

    /* TEMP COLOUR */
    color: gray;
}

.text-title-minor:hover {
    cursor: pointer;
    text-decoration: underline;
}

.location-content {
    max-width: 40vw;
    overflow: wrap;
}

.address {
    display: flex;
    flex-direction: row;

    img {
        margin: auto 0;
    }
}

.address-content {
    display: flex;
    flex-direction: column;
    margin: 2vw 2.5vh;
}

.address-name {
    font-size: 4vh;
    font-weight: bold;
    letter-spacing: 0.1vw;
}

.address-info {
    font-size: 2vh;
}

.address-container {
    width: 30vw;
    margin: 10vh auto; 
}

.address:hover {
    cursor: pointer;

    img {
        animation: shake 1s;
        transform-origin: bottom;
        animation-iteration-count: infinite; 
    }
}

@keyframes shake {
    20% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }
    80% { transform: rotate(-10deg); }
}


a {
    text-decoration: none;
    color: var(--tbk-grey);
}

a:visited {
    color: var(--tbk-grey);
}


/* POLAROID */

.polaroid {
    width: 20vw;
    height: auto;
    display: inline-block;
    margin-top: 2rem;
    filter: grayscale(20%);
    transform: rotate(-15deg);
}

.polaroid-background {
    background: #f9f9f9;
    padding: 1vw;
    box-shadow: 0 2vh 2vw rgba(0,0,0,0.25);
}

.polaroid-image {
    max-width: 100%;
    height: auto;
}

.polaroid-caption {
    text-align: center;
    padding-top: 1vh;
}
