/* Common CSS With Other Pages Goes Here */

:root {
    /* Colours Here */
    --tbk-grey: #363636;
    --tbk-gold: #e2ce51;
    --tbk-light: #f9f9f9; 
    /* OTHER: #fffff2 */


    --hex-cluster-dim: 30vw;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body { 
    margin: 0;
    padding: 0;
    background-color: var(--tbk-light);
}

.body-container { 
    margin: 5vh 5vw;
    width: auto;
}

.hex-cluster {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    width: var(--hex-cluster-dim);
    height: var(--hex-cluster-dim);
}

.hex-cluster-sub {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.hex-outer {
    margin-top: auto;
    margin-bottom: auto;

    width: 100%;
    height: 50%;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background: var(--tbk-grey);
}

.hex-cluster-top {
    transform: translateY(3%);
}

.hex-cluster-bottom {
    transform: translateY(-3%);
}

.hex-cluster-right {
    transform: translateX(-21%);
}

.hex-inner {
    margin-top: 3%;
    margin-left: 3%;

    height: 94%;
    width: 94%;

    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background-image: linear-gradient(to bottom right, var(--tbk-gold),  var(--tbk-gold), #958a42);

    display: flex;

    img {
        margin: auto;
        height: 40%;
    }
}
