/* Common CSS With Other Pages Goes Here */

:root {
    /* Colours Here */
    --tbk-grey: #363636;
    --tbk-gold: #e2ce51;
    --tbk-light: #f9f9f9; 
    /* OTHER: #fffff2 */


    --cls-dim: 30vw;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body { 
    margin: 0;
    padding: 0;
    background-color: var(--tbk-light);
}

.body-container { 
    margin: 5vh 5vw;
    width: auto;
}

.cluster {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    width: var(--cls-dim);
    height: var(--cls-dim);
}

.sub {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.hex-outer {
    margin-top: auto;
    margin-bottom: auto;

    width: 100%;
    height: 50%;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background: var(--tbk-grey);
}

.hex-top {
    transform: translateY(3%);
}

.hex-bottom {
    transform: translateY(-3%);
}

.hex-right {
    transform: translateX(-21%);
}

.hex-inner {
    margin-top: 3%;
    margin-left: 3%;

    height: 94%;
    width: 94%;

    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background-image: linear-gradient(to bottom right, var(--tbk-gold),  var(--tbk-gold), #958a42);

    display: flex;

    img {
        margin: auto;
        
        height: 40%;
    }
}

/* 
.hex-single {
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 20vw;
    max-width: 20vw;
    max-height: 20vw;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    font-size: 10vw;
    float: left;
    background: black;
    overflow: hidden;
    text-align: center;
    line-height: 20vw;
}

.hex-cluster {
    margin: 0;
    padding: 0;
    height: 44vw;
    width: auto;
}

.hex-icon {
    margin: auto;
    width: 19vw;
    height: 19vw;
    max-width: 19vw;
    max-height: 19vw;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background: gray;
} */